<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotless Hungry Crocodile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <style>
      @keyframes fade-in-left {
        0% {
          opacity: 0;
          transform: translateX(-20px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./hero.css" rel="stylesheet" />
      <div class="hero-header78">
        <div class="hero-column thq-section-max-width thq-section-padding">
          <div class="hero-content">
            <h1 class="hero-text thq-heading-1">
              <span>
                Empowering Your Business with Cutting-Edge Tech Solutions
              </span>
            </h1>
            <p class="hero-text1 thq-body-large">
              <span>
                We are a tech consultancy specializing in website design,
                artificial intelligence, generative AI, data analytics, and
                enterprise solutions. Let us help you transform your digital
                presence and drive innovation.
              </span>
            </p>
          </div>
          <div class="hero-actions">
            <button class="thq-button-filled hero-button">
              <span class="hero-text2 thq-body-small">
                <span>Get in Touch</span>
              </span>
            </button>
            <button class="thq-button-outline hero-button1">
              <span class="thq-body-small"><span>Learn More</span></span>
            </button>
          </div>
        </div>
        <div class="hero-content1">
          <div
            class="hero-row-container thq-animated-group-container-horizontal thq-mask-image-horizontal"
          >
            <div class="thq-animated-group-horizontal">
              <img
                alt="Tech Consultancy Services"
                src="https://images.unsplash.com/photo-1501556466850-7c9fa1fccb4c?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQzMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1459257831348-f0cdd359235f?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQyN3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image01 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1610389051254-64849803c8fd?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQyNnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image02 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1474557157379-8aa74a6ef541?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQzMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image03 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/reserve/d1Ntvq9mSVmV0RcnWN1Y_23rd%20Studios%20Photography%20Boulder%20Colorado.jpg?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQzMHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image04 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1653971858474-4f2dfa7f4dc1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQyOXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image05 thq-img-scale thq-img-ratio-1-1"
              />
            </div>
            <div class="thq-animated-group-horizontal">
              <img
                alt="Tech Consultancy Services"
                src="https://images.unsplash.com/photo-1501556466850-7c9fa1fccb4c?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQzMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image06 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1459257831348-f0cdd359235f?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQyN3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image07 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1610389051254-64849803c8fd?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQyNnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image08 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1474557157379-8aa74a6ef541?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQzMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image09 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/reserve/d1Ntvq9mSVmV0RcnWN1Y_23rd%20Studios%20Photography%20Boulder%20Colorado.jpg?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQzMHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image10 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1534312527009-56c7016453e6?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDIxfHxhYnN0cmFjdHxlbnwwfHx8fDE3MTA4NzA5MzB8MA&amp;ixlib=rb-4.0.3&amp;w=1500"
                class="hero-placeholder-image11 thq-img-scale thq-img-ratio-1-1"
              />
            </div>
          </div>
          <div
            class="hero-row-container1 thq-animated-group-container-horizontal thq-mask-image-horizontal"
          >
            <div class="thq-animated-group-horizontal-reverse">
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1654010178325-1aac33b42833?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQyOXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image12 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1640158615573-cd28feb1bf4e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQzMHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image13 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1583324228839-1be05b21b2b3?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQzMHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image14 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1700373083438-b60626ef4fa9?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQzMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image15 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1491911923017-19f90d8d7f83?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQyOHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image16 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1474557157379-8aa74a6ef541?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQyOXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image17 thq-img-scale thq-img-ratio-1-1"
              />
            </div>
            <div class="thq-animated-group-horizontal-reverse">
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1654010178325-1aac33b42833?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQyOXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image18 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1640158615573-cd28feb1bf4e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQzMHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image19 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1583324228839-1be05b21b2b3?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQzMHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image20 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1700373083438-b60626ef4fa9?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQzMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image21 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1491911923017-19f90d8d7f83?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjAyNzQyOHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="hero-placeholder-image22 thq-img-scale thq-img-ratio-1-1"
              />
              <img
                alt="Hero Image"
                src="https://images.unsplash.com/photo-1568214379698-8aeb8c6c6ac8?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDEyfHxncmFmaWN8ZW58MHx8fHwxNzE1Nzk0OTk5fDA&amp;ixlib=rb-4.0.3&amp;w=1500"
                class="hero-placeholder-image23 thq-img-scale thq-img-ratio-1-1"
              />
            </div>
          </div>
        </div>
        <div>
          <div class="hero-container1">
            <style>
              @keyframes scroll-x {
                from {
                  transform: translateX(0);
                }
                to {
                  transform: translateX(calc(-100% - 16px));
                }
              }

              @keyframes scroll-y {
                from {
                  transform: translateY(0);
                }
                to {
                  transform: translateY(calc(-100% - 16px));
                }
              }
            </style>
          </div>
        </div>
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
